<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cat15</key>
	<dict>
		<key>PARENT</key>
		<integer>5</integer>
		<key>DESCRIPTION</key>
		<string></string>
		<key>SLUG</key>
		<string>lang/php</string>
		<key>NAME</key>
		<string>PHP</string>
		<key>ID</key>
		<integer>15</integer>
	</dict>
	<key>Cat14</key>
	<dict>
		<key>PARENT</key>
		<integer>5</integer>
		<key>DESCRIPTION</key>
		<string></string>
		<key>SLUG</key>
		<string>lang/objc</string>
		<key>NAME</key>
		<string>Objective-C</string>
		<key>ID</key>
		<integer>14</integer>
	</dict>
	<key>Cat13</key>
	<dict>
		<key>PARENT</key>
		<integer>5</integer>
		<key>DESCRIPTION</key>
		<string></string>
		<key>SLUG</key>
		<string>lang/ccpp</string>
		<key>NAME</key>
		<string>C/C++</string>
		<key>ID</key>
		<integer>13</integer>
	</dict>
	<key>Cat12</key>
	<dict>
		<key>PARENT</key>
		<integer>5</integer>
		<key>DESCRIPTION</key>
		<string></string>
		<key>SLUG</key>
		<string>lang/ruby</string>
		<key>NAME</key>
		<string>Ruby</string>
		<key>ID</key>
		<integer>12</integer>
	</dict>
	<key>Cat11</key>
	<dict>
		<key>PARENT</key>
		<integer>5</integer>
		<key>DESCRIPTION</key>
		<string></string>
		<key>SLUG</key>
		<string>lang/python</string>
		<key>NAME</key>
		<string>Python</string>
		<key>ID</key>
		<integer>11</integer>
	</dict>
	<key>Cat10</key>
	<dict>
		<key>PARENT</key>
		<integer>5</integer>
		<key>DESCRIPTION</key>
		<string></string>
		<key>SLUG</key>
		<string>lang/java</string>
		<key>NAME</key>
		<string>Java</string>
		<key>ID</key>
		<integer>10</integer>
	</dict>
	<key>Cat3</key>
	<dict>
		<key>PARENT</key>
		<integer>0</integer>
		<key>DESCRIPTION</key>
		<string></string>
		<key>SLUG</key>
		<string>site-feedback</string>
		<key>NAME</key>
		<string>建议反馈</string>
		<key>ID</key>
		<integer>3</integer>
	</dict>
	<key>Cat5</key>
	<dict>
		<key>PARENT</key>
		<integer>0</integer>
		<key>DESCRIPTION</key>
		<string></string>
		<key>SLUG</key>
		<string>lang</string>
		<key>NAME</key>
		<string>编程语言</string>
		<key>ID</key>
		<integer>5</integer>
	</dict>
	<key>Cat6</key>
	<dict>
		<key>PARENT</key>
		<integer>0</integer>
		<key>DESCRIPTION</key>
		<string></string>
		<key>SLUG</key>
		<string>junior</string>
		<key>NAME</key>
		<string>初学入门</string>
		<key>ID</key>
		<integer>6</integer>
	</dict>
	<key>Cat7</key>
	<dict>
		<key>PARENT</key>
		<integer>0</integer>
		<key>DESCRIPTION</key>
		<string></string>
		<key>SLUG</key>
		<string>study-materials</string>
		<key>NAME</key>
		<string>学习资料</string>
		<key>ID</key>
		<integer>7</integer>
	</dict>
	<key>Cat8</key>
	<dict>
		<key>PARENT</key>
		<integer>0</integer>
		<key>DESCRIPTION</key>
		<string></string>
		<key>SLUG</key>
		<string>pm</string>
		<key>NAME</key>
		<string>产品经理</string>
		<key>ID</key>
		<integer>8</integer>
	</dict>
	<key>Cat9</key>
	<dict>
		<key>PARENT</key>
		<integer>0</integer>
		<key>DESCRIPTION</key>
		<string></string>
		<key>SLUG</key>
		<string>career</string>
		<key>NAME</key>
		<string>招聘求职</string>
		<key>ID</key>
		<integer>9</integer>
	</dict>
	<key>Cat16</key>
	<dict>
		<key>PARENT</key>
		<integer>0</integer>
		<key>DESCRIPTION</key>
		<string></string>
		<key>SLUG</key>
		<string>progress</string>
		<key>NAME</key>
		<string>一周成果分享</string>
		<key>ID</key>
		<integer>16</integer>
	</dict>
	<key>Cat17</key>
	<dict>
		<key>PARENT</key>
		<integer>0</integer>
		<key>DESCRIPTION</key>
		<string></string>
		<key>SLUG</key>
		<string>erlang21</string>
		<key>NAME</key>
		<string>21天学通Erlang</string>
		<key>ID</key>
		<integer>17</integer>
	</dict>
</dict>
</plist>
